@font-face {
  font-family: "ss-bold";
  src: url("./source-sans-pro/SourceSansPro-Bold.otf");
}

@font-face {
  font-family: "ss-reg";
  src: url("./source-sans-pro/SourceSansPro-Regular.otf");
}

/* Variables declaration */
:root {
  --content-mxw: 1000px;
  --h-pink: #ff6565;
  --hover-opacity: 0.9;
  --mobile-width: 480px;
}

/* Content Selector */
.content {
  max-width: var(--content-mxw);
  width: 100%;
}

/* Main Section */
main {
  width: 100%;
}

/* Hero Section */
.hero {
  background-image: url("./images/headphones_hero_1.jpg");
  background-position: 56%;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  height: 32px;
  width: 100%;
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.nav img {
  width: 161px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
}

.nav-links a {
  font-family: ss-bold;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:active {
  color: var(--h-pink);
}

.nav-links a:active {
  color: var(--h-pink);
}

.hero-body {
  height: 625px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.hero-content {
  max-width: 637px;
  height: 313px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.hero-content h1 {
  font-family: ss-bold;
  font-size: 32px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-content h4 {
  font-family: ss-bold;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.hero-content button {
  background-color: var(--h-pink);
  height: 44px;
  width: 162px;
  border: none;
  border-radius: 22px;
  color: #ffffff;
  font-family: ss-bold;
  font-size: 14px;
  margin-top: 40px;
}

.hero-content button:hover,
.hero-content button:active {
  opacity: var(--hover-opacity);
}

.hero-content p {
  font-family: ss-reg;
  color: #ffffff;
  margin-top: 65px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content p .lg {
  line-height: 26px;
  font-size: 16px;
}

.hero-content p .show {
  display: none;
}

/* Middle Screen */

@media (max-width: 1048px) {
  /* Content Selector */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  /* Hero Section */
  .hero {
    background-image: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position-x: 58%;
    /* background-size: 154.85% 100%; */
  }

  .nav {
    width: 633px;
  }
}

@media (max-width: 480px) {
  /* Hero Section */

  .nav {
    width: 247px;
  }
  .nav-links {
    display: none;
  }

  .hero-content {
    width: 357px;
    height: 436px;
  }
  .hero-content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content h4 {
    width: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content p .sm {
    display: block;
    width: fit-content;
  }

  .hero-content p .rm {
    display: none;
  }

  .hero-content p .lg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content button {
    margin-top: 20px;
  }

  .menu {
    display: block;
    width: 100%;
  }

  .hamburger {
    display: block;
    height: 14px;
    width: 20px;
    flex-direction: column;
  }

  .menu-child {
    border: 1px solid blue;
    display: block;
    flex-direction: row;
  }

  .menu-child div {
    border: 1px solid green;
  }

  .menu-bar {
    height: 2px;
    width: 20px;
    background-color: #ffffff;
    margin-bottom: 3px;
  }

  .menu-bar-mid {
    height: 2px;
    width: 15px;
    background-color: #ffffff;
    margin-bottom: 3px;
  }

  #menu-checkbox:checked ~ .nav-links {
    display: block;
  }

  .nav-bar {
    display: none;
  }
}

/* What We Do Section */

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 694px;
  width: 100%;
}

.what-we-do .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid green;
}

.part-one {
  width: 637px;
  height: 184px;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.part-two {
  margin-top: 97px;
  height: 193px;
  width: 1002px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
}

