@font-face {
  font-family: "ss-bold";
  src: url("./source-sans-pro/SourceSansPro-Bold.otf");
}

@font-face {
  font-family: "ss-reg";
  src: url("./source-sans-pro/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "ss-sbold";
  src: url("./source-sans-pro/SourceSansPro-Semibold.otf");
}

/* Variables declaration */
:root {
  --content-mxw: 1000px;
  --h-pink: #ff6565;
  --hover-opacity: 0.9;
  --mobile-width: 480px;
}

body {
  margin: 0;
  overflow-x: hidden;
}


/* Content Selector */
.content {
  max-width: var(--content-mxw);
  width: 100%;
}

/* Main Section */
main {
  width: 100%;
  margin: 0;
}

/* Hero Section */
.hero {
  background-image: url("./images/headphones_hero_1.jpg");
  background-position: 56%;
  height: 800px;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  height: 32px;
  width: 100%;
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.nav img {
  width: 161px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
}

.nav-links a {
  font-family: ss-bold;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:active {
  color: var(--h-pink);
}

.nav-links a:active {
  color: var(--h-pink);
}

.hero-body {
  height: 625px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.hero-content {
  max-width: 637px;
  height: 313px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.hero-content h1 {
  font-family: ss-bold;
  font-size: 32px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-content h4 {
  font-family: ss-bold;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.hero-content button {
  background-color: var(--h-pink);
  height: 44px;
  width: 162px;
  border: none;
  border-radius: 22px;
  color: #ffffff;
  font-family: ss-bold;
  font-size: 14px;
  margin-top: 40px;
}

.hero-content button:hover,
.hero-content button:active {
  opacity: var(--hover-opacity);
}

.hero-content p {
  font-family: ss-reg;
  color: #ffffff;
  margin-top: 65px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content p .lg {
  line-height: 26px;
  font-size: 16px;
}

.hero-content p .show {
  display: none;
}

/* Middle Screen */

@media (max-width: 1048px) {

  /* Content Selector */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  /* Hero Section */
  .hero {
    background-size: 100% 100%;
    background-position-x: center;
  }

  .nav {
    width: 633px;
  }
}

@media (max-width: 480px) {
  /* Hero Section */

  .nav {
    width: 247px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }

  .nav-links {
    display: none;
  }

  .hero {
    background-size: 100% 100%;
  }

  .hero-content {
    width: 357px;
    height: 436px;
  }

  .hero-content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content h4 {
    width: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content p .sm {
    display: block;
    width: fit-content;
  }

  .hero-content p .rm {
    display: none;
  }

  .hero-content p .lg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content button {
    margin-top: 20px;
  }

  .menu {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 0;
  }

  .hamburger {
    display: block;
    height: 14px;
    width: 20px;
    flex-direction: column;
  }

  .menu-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu-bar {
    height: 2px;
    width: 20px;
    background-color: #ffffff;
    margin-bottom: 3px;
  }

  .menu-bar-mid {
    height: 2px;
    width: 15px;
    background-color: #ffffff;
    margin-bottom: 3px;
  }

  #menu-checkbox {
    display: none;
  }

  #menu-checkbox:checked~.nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    width: 100%;
  }

  .nav-links a {
    margin: 15px 0;
    font-size: 16px;
  }

  .nav-bar {
    display: none;
  }
}

/* What We Do Section */

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 694px;
  width: 100%;
}

.what-we-do .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part-one {
  width: 637px;
  height: 184px;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.part-one h1 {
  font-family: ss-bold;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.part-one p {
  font-family: ss-reg;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-top: 0px;
}

.part-two {
  margin-top: 97px;
  height: 193px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.part-two .part-two-item {
  height: 180px;
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part-two-item h3 {
  font-family: ss-bold;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.part-two-item p {
  font-family: ss-reg;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-top: 0px;
}

@media (max-width: 1048px) {
  .what-we-do {
    height: 973px;
  }

  .what-we-do .content {
    height: 100%;
  }

  .part-two {
    width: 472px;
    height: 469px;
  }
}

@media (max-width: 480px) {
  .what-we-do {
    height: 1631px;
  }

  .what-we-do .content {
    height: 1631px;
  }

  .part-one {
    margin-top: 103px;
    width: 325px;
    height: 288px;
  }

  .part-two {
    width: 207px;
    height: 1020px;
  }
}


/* Results Section */
.results {
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("./images/headphones_hero_2.jpg");
  background-position: 50%;
  background-size: 100% 100%;
}

.results .content {
  height: 100%;
}

.results-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.results-body h1 {
  margin-top: 141px;
  font-family: ss-sbold;
  font-size: 32px;
}

.results-body p {
  font-family: ss-reg;
  font-size: 16px;
  line-height: 26px;
  margin-top: 40px;
  height: 104px;
  width: 637px;
  text-align: center;
}

.results-body .stats {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 56px;
}

.results-body .stat {
  background-image: url("./images/pentagone.png");
  background-size: 100% 100%;
  height: 190px;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat h3 {
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 46px;
  font-family: ss-bold;
}

.stat p {
  font-family: ss-reg;
  font-size: 14px;
  margin-top: 20px;
}

@media (max-width: 1048px) {
  .results {
    height: 876px;
  }

  .results-body .stats {
    width: 456PX;
    height: 422px;
  }
}

@media (max-width: 480px) {
  .results {
    height: 1491px;
  }

  .results-body h1 {
    width: 266px;
    height: 80px;
    text-align: center;
    margin-top: 125px;
  }

  .results-body p {
    width: 305px;
    height: 208px;
    margin-top: 46px;
  }

  .results-body .stats {
    width: 190px;
    height: 886px;
    margin-top: 56px;
    flex-direction: column;
    justify-content: space-between;
  }

  .stat p {
    font-family: ss-reg;
    font-size: 14px;
    margin-top: 10px;
  }

}


/* Contact Section */

.contact {
  height: 613px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .content {
  height: 100%;
}

.contact-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-body h1 {
  margin-bottom: 0px;
  font-size: 32px;
  font-family: ss-sbold;
}

.form {
  height: 373px;
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 130px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#name {
  margin-top: 56px;
}

.form-group input {
  width: 100%;
  height: 29px;
  border-top: #ffffff;
  border-left: #ffffff;
  border-right: #ffffff;
  border-bottom: 0.5px solid #979797;
  margin-bottom: 45px;
}

.form-group input::placeholder {
  font-size: 14px;
  font-family: ss-sbold;
  color: #071629;
}

.form-group button {
  margin-top: 11px;
  background-color: var(--h-pink);
  border: none;
  border-radius: 22px;
  height: 44px;
  width: 162px;
  font-size: 14px;
  color: #ffffff;
  font-family: ss-bold;
}

.form-group button:hover {
  opacity: var(--hover-opacity);
}

/* Footer Section */

.footer {
  height: 249px;
  background-color: #071629;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-content {
  margin-top: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
  height: 118px;
}

.top-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-row img {
  width: 161px;
  height: 32px;
}

.bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: ss-reg;
  font-size: 14px;
  color: #ffffff;
}

.socials {
  height: 30px;
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem;
}

@media (max-width: 1048px) {
  .footer-content {
    width: 668px;
  }
}

@media (max-width: 480px) {
  .footer-content {
    width: 161px;
  }

  .top-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 161px;
  }
}